

<a href="/" class="group relative block bg-black rounded-2xl aspect-square w-96 h-96 align-middle mx-auto">
    <img
      alt=""
      src="https://res.cloudinary.com/tammymetzler/image/upload/v1720456493/milll_coudrs.png"
      class="absolute inset-0 h-full w-50 rounded-2xl aspect-square object-cover opacity-95 transition-opacity group-hover:opacity-50"
    />
  
    <div class="relative p-4 sm:p-6 lg:p-8">
      <p class="text-sm font-medium uppercase tracking-widest text-pink-500">Blog</p>
  
      <p class="text-xl font-bold text-white sm:text-2xl">Laura Locura</p>
  
      <div class="mt-32 sm:mt-48 lg:mt-64">
        <div
          class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100"
        >
          <p class="text-sm text-white">
            go away and feed your rats
          </p>
        </div>
      </div>
    </div>
  </a>